@font-face {
    font-family: FiraMono;
    src: url(fonts/FiraMono-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: FiraMono;
    src: url(fonts/FiraMono-Bold.woff);
    font-weight: 700;
}

html
{
    height: 100%;
    font-size: 24px;
}

.nav-triangle-left, .nav-triangle-right
{
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    bottom: 50%;
    margin-bottom: -4rem;
    z-index: 1000;
}
.nav-triangle-left
{
    text-align: left;
    left: 0;
    border-left: 4rem solid rgb(255, 100, 80);
    border-top: 4rem solid transparent;
    border-bottom: 4rem solid transparent;
}
.nav-triangle-right
{
    text-align: right;
    right: 0;
    border-right: 4rem solid rgb(255, 100, 80);
    border-top: 4rem solid transparent;
    border-bottom: 4rem solid transparent;
}
.nav-triangle-left div, .nav-triangle-right div
{
    display: inline-block;
    color: white;
    margin-top: -0.5rem;
}
.nav-triangle-left div
{
    margin-left: -3.3rem;
}
.nav-triangle-right div
{
    margin-right: -3.3rem;
}

.chapter-header, .nav-triangle-left, .nav-triangle-right, h2
{
    font-family: 'Unica One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.chapter-header
{
    width: 100%;
    font-size: 200%;
    display: block;
}

.chapter-number
{
    display: block;
    width: 2rem;
    padding-left: 3rem;
    margin-left: -3rem;
    margin-right: 1rem;
    float: left;
    background-color: rgb(255, 100, 80);
    color: white;
    font-size: inherit;
    /*border-radius: 0.25rem 0 0 0.25rem;*/
}

h1
{
    display: block;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    background-color: rgb(230, 230, 230);
    color: rgb(50, 50, 50);
    /*border-radius: 0 0.25rem 0.25rem 0;*/
}

h2
{
    font-size: 140%;
    border-top: 2px solid rgb(200, 200, 200);
    padding-top: 0.5rem;
    margin-top: 2rem;
}

body, simple-math
{
    font-family: 'Noticia Text', serif;
}

simple-math
{
    white-space: nowrap;
}

inline-quote
{
    font-style: italic;
}
inline-quote::before
{
    content: "“";
}
inline-quote::after
{
    content: "”";
}

keyword
{
    font-weight: bold;
}

ascii-figure
{
    display: inline-block;
    margin: 0.75rem 1rem 1rem 1.5rem;
}

code, pre, ascii-figure
{
    font-family: "FiraMono", monospace;
    text-align: left;
    white-space: pre-wrap;
}

code
{
    font-family: "FiraMono", monospace;
    font-size: 90%;
    overflow-wrap: break-word;
    padding: 0 0.25rem 0 0.25rem;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.05);
}
code.x86asm 
{
    display: inline-block;
}

pre 
{
    font-size: 90%;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.03);
}

pre.x86-prototype 
{
    font-size: 100%;
    border-radius: 0;
    padding-left: 0;
    border-top: 2px dashed rgb(230, 230, 230);
    margin-right: 2rem;
    margin-bottom: -1rem;
    margin-top: 2rem;
    background-color: transparent;
}

table
{
    font-family: "FiraMono", sans-serif;
    font-size: 85%;
    color: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 4px;
    white-space: pre;
}
td
{
    border: none;
    border-color: rgb(70, 70, 70);
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    line-height: 100%;
}
tr.header td 
{
    border-bottom-width: 2px; 
    border-bottom-style: solid;
    padding-bottom: 0.25rem;
    font-weight: bold;
    font-size: 90%;
}

td.ellipsis::before
{
    content: "···";
}
td.empty::before
{
    content: "///";
    opacity: 0.75;
}

table.place-table tr:first-child td
{
    font-weight: bold;
    border-width: 0 0 2px 0;
    border-style: solid;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    line-height: 125%;
    font-size: 70%;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}
td.annotation
{
    padding-left: 0;
    padding-right: 0;
    font-family: "Noticia Text", serif;
    font-style: italic;
    font-size: 90%;
}
span.highlight
{
    padding: 0 0.3rem 0 0.3rem;
    border-radius: 0.25rem;
}

table.place-table tr:first-child td
{
    font-size: 60%;
}
table.place-table td, table.place-table tr:first-child td
{
    padding: 0.25rem 0 0.25rem 0;
    min-width: 3.75rem;
}
table.place-table tr:first-child td:last-child
{
    text-align: center;
}
table.place-table td:last-child
{
    text-align: left;
    width: 100%;
}


table.memory-table, table.segmented-box
{
    border-collapse: collapse;
    margin-bottom: 1.5rem;
}

table.memory-table tr.space td
{
    border: none;
    height: 1.5rem;
}

table.memory-table td, table.segmented-box td
{
    border-width: 2px;
    border-style: solid;
}

table.segmented-box td
{
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
table.memory-table td
{
    min-width: 2.65rem;
    padding: 0.25rem 0 0.25rem 0;
}
table td.pad-left, table tr.pad-left td, table.pad-left tr td, 
table.pad-left tr td
{
    padding-left: 0.75rem;
    text-align: left;
}
table td.pad-right, table tr.pad-right td, table.pad-right tr td, 
table.pad-right tr td
{
    padding-right: 0.75rem;
    text-align: right;
}

table.memory-table .addresses td, table.memory-table td.addresses 
{
    border: none;
    font-weight: normal;
    text-transform: none;
    vertical-align: top;
}
table.memory-table .addresses td
{
    padding: 0.5rem 0 0.25rem 0;
    font-size: 70%;
}
table.memory-table.vertical td.addresses 
{
    color: rgb(150, 150, 150);
    border-top: 2px solid transparent;
}

table.memory-table tr.addresses td, 
td.invisible, td.ellipsis
{
    border: none !important;
}

table.memory-table td.merge-down
{
    border-bottom: hidden;
}



table.segmented-box tr.header td
{
    font-weight: inherit;
    font-size: inherit;
    padding-bottom: 0.5rem;
}


.content-container
{
    padding: 0 0 0 0;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;

    position: relative;
}

.content
{
    padding: 3rem 0 10rem 0;
    color: rgb(70, 70, 70);

    font-size: 100%;
    margin-left: 11.5rem;
    margin-right: 2.5rem;
}

.content .centered-container
{
    text-align: center;
}

a
{
    text-decoration: none;
    color: rgb(255, 80, 80);
}

body
{
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'kern=1';
    -moz-font-feature-settings: 'kern' 1;
    -webkit-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    -ms-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;

    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga' 1;
    -webkit-font-feature-settings: 'liga' 1;
    -o-font-feature-settings: 'liga' 1;
    -ms-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

aside, .warning-container
{
    display: block;
    float: left;
    position: absolute;
    margin-left: 0;
    left: 2rem;
    width: 8rem;
    text-align: right;
    clear:both;
    margin-bottom: 1rem;

    font-size: 80%;
    color: rgb(100, 100, 100);
}

aside > *, .warning-container > *
{
    margin-top: 0;
    margin-bottom: 0;
}

.warning-container
{
    color: rgb(255, 80, 80);
}
.warning-container > h2
{
    border-color: rgb(255, 150, 140);
    margin-bottom: 0.5rem;
}
